# python
__pycache__/
*.pyc

# package specific
*.zip
doc/x4i/user-guide/_minted-x4i/

# package sources
src/x4i/data/EXFOR-Archive/
src/x4i/data/entry/
src/x4i/data/exfor_master/
src/x4i/data/*.tbl
src/x4i/data/*.pickle
src/x4i/data/*.json
src/x4i/data/db
src/x4i/data/*.zip
src/x4i/data/db.tar.gz

# OS
.DS_Store

# build
dist
build
*.egg-info

# environment
venv

# IDE
.idea
.vscode

